services:
  app:
    build: .
    container_name: express_app
    restart: always
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true # Keeps the container running for debugging
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env.prod
    
  postgres:
    image: postgres
    container_name: postgres_container
    restart: always
    environment:
      - POSTGRES_PASSWORD=admin
    volumes:
      - ./docker/postgres:/var/lib/postgresql/18/docker
    ports:
      - '6543:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 2s
      retries: 20

